<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://nispar2009.github.io/spectrum_stylr/General/Spectrum.css">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <script src="https://nispar2009.github.io/spectrum_stylr/Spectrum.js"></script>
    <script src="/static/scripts.js"></script>
</head>

<body>
    <h2 class="text-green text-center">Login</h2>

    <form action="/" method="post">
        <input type="text" name="username" id="username" placeholder="Username..." class="form form-line">
        <br><br>
        <input type="password" name="password" id="password" placeholder="Password..." class="form form-line">
        <br><br>
        <div class="hover-all">
            <button type="submit" class="btn btn-blue-outline">Login</button>

            <div class="hover-content">
                By clicking this button, you will either log in to your account and be able to view or send mail&mdash;or if your username does not match any existing records, a new account will be created.
            </div>
        </div>
    </form>
</body>

</html>