<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not logged in</title>
    <link rel="stylesheet" href="https://nispar2009.github.io/spectrum_stylr/General/Spectrum.css">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <script src="https://nispar2009.github.io/spectrum_stylr/Spectrum.js"></script>
    <script src="/static/scripts.js"></script>
</head>

<body>
    <div id="toBeChanged">
        <h2 class="text-green text-center">You are not logged in</h2>
        <p>Please do one of the following.</p>

        <ol>
            <li><a href="/login" class="link">Login</a> to MailTrail</li>
            <li>Click <a href="#" onclick="setValue('toBeChanged', guest())" class="link">here</a> to continue as a guest</li>
        </ol>
    </div>
</body>

</html>